<meta http-equiv= "Content-Type" content- "text/html; charset=utf-8" />
<html>
    <head><meta charset="utf-8"/><meta name="viewport"content="width=device-width, initial-scale=1">
		<title>输入页面</title>
	</head>
    <body background="static/1.jpg"
        style="background-repeat:no-repeat
        background-attachment:fixed;
        background-size:100% 100%; ">
	</body>
    <body>
        <div style="position: absolute; top: 230; left: 500; width: 800; height: 160; font-size: 20pt; font-family: 华文行楷"><h3>请输入你想要的过年相关词汇</h3></div>
        <form action='/submit_result' method='GET'>
            <div style="position: absolute; top: 335; left: 500; width: 800; height: 160; font-size: 20pt; font-family: 华文行楷"><span style='display:inline-block;margin-right:5px'>词汇:</span>
            <input type='text' name='prompt' />
        </div>
        <div style="position: absolute; top: 400; left: 640; width: 800; height: 160; font-size: 20pt; font-family: 华文行楷"><input type='submit' value='提交'>
        </form>
        </body>
	 
</html>